ENVIRONMENT = "dev"
APPPORT = "8080"
APPMONGOURL = "mongodb URI "
APPCRYPTOVERIFICATIONENCRYPTIONKEY = "nVRQO_K1GVt}yH1Plkl9?V~EWu-/1y67"
APPCRYPTOVERIFICATIONENCRYPTIONVECTOR = "MIGeMA0GCSqGSIb3"
API_KEY="Send Grid Key"
APPJWTKEY = "nVRQO_K1GVt}yH1Plkl9?V~EWu-/1y67"